<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>

#top{
    height:40px;
    line-height: 40px;
    background:#2c2c2c;
    position: fixed;
    width: 100%;
    z-index: 300;
}
#top a{color:#fff; padding:0 5px; transition:all .5s; font-size:12px;}
#top a:active{color:#ffc022;}
#top a:hover{color:#34bcaa;}
#top a.bold{color:#ffc022; font-weight: 700; font-size:14px; position: relative;}
#top a.bold span{position:absolute; top:-6px; left:36px; white-space: nowrap;}

#cover{
    font-family:'Kalam';
    font-size:19px;
    color:#fff;
    background:url(image/homeless_01.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height:480px;
    text-align: center;
}
#cover strong{color:#34bcaa; font-weight: 400;}
#cover .container{
    height: inherit; 
    display: table;
}
.cover-text{
    padding:0 50px; 
    display: table-cell;
    height: inherit;
    width:50%;
    
}
.cover-text img{margin-bottom:40px;}
#cover .btn{font-size:16px; font-family: 'lato'; border-radius: 0; margin-top:20px}

.btn{display: inline-block; padding:10px;}
.btn-large{padding-left:90px; padding-right:90px;}
.btn-yellow{background:#ffbe21; color:#212121;}

.homeless-face{
    height:510px;
    background:url(image/homeless_face.png) top center no-repeat;
    text-align: center;
    display: table-cell; vertical-align: middle;
}
.homeless-face h2{font-weight: 100; color:#fff; font-size: 100px; transition:all 3s; 
    opacity:.2;
    letter-spacing: 25px;}
.h2-expand{
    opacity:1 !important;
    letter-spacing:normal !important;
}

#main-info{padding:50px 0;}
#main-info h2{font-family:'Kalam'; font-weight: 300; font-size:40px; color:#168a7b; text-align: center;}
#main-info p{max-width: 755px;  margin: 15px auto;}

footer{
    background:#000000;
    color:#fff;
    font-size:12px;
    padding:30px 0;
}


  {% include landing-page.html %}
  <div class="layout">
    {%if site.show_aboutme_card %}
      <section class="card neumorphism-card-big">
        {% include section-aboutme.html %}
      </section>
    {% endif %}
    {%if site.show_projects_card %}
      <section class="card neumorphism-card-big">
        {% include section-projects.html %}
      </section>
    {% endif %}
    {%if site.show_timeline_card %}
      <section class="card neumorphism-card-big">
        {% include section-timeline.html %}
      </section>
    {% endif %}
    {%if site.show_skills_card %}
      <section class="card neumorphism-card-big">
        {% include section-skills.html %}
      </section>
    {% endif %}
    {%if site.show_contact_card %}
    <section class="card neumorphism-card-big">
      {% include section-contact.html %}
    </section>
    {% endif %}
  </div>
  {% include footer.html %}
</body>
</html>
